@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Montserrat";
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  width: 90%;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
}

.menu li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  height: 5px; /* Épaisseur de la ligne violette */
  background-color: #6a1b9a; /* Couleur violette */
  transform: scaleX(0); /* Masque la ligne initialement */
  transform-origin: left;
  transition: transform 0.3s ease-in-out; /* Animation pour l'affichage */
}

.menu li:hover::before {
  transform: scaleX(1); /* Montre la ligne au survol */
  color: #4a148c;
}

.menu li:hover {
  color: #4a148c;
}

#language {
  background: rgb(185, 185, 185);
  border-radius: 30px;
  width: 70px;
  height: 30px;
  white-space: nowrap;
}
#language::before {
  content: none;
}
#language:hover {
  color: black;
}

header {
  background: url(./assets/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(7, 7, 7, 0.856);
  z-index: -1;
  filter: sepia(20%);
  height: 60vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 25px;
}
.main-header h1 {
  color: rgb(238, 238, 238);
  font-weight: 700;
  font-size: 1.4rem;
}

.main-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.83rem;
  color: rgb(248, 248, 248);
  background: none;
  border-style: solid;
  border-radius: 1px;
  border-color: white;
  border-width: 1px;
  letter-spacing: 2px;
  word-spacing: 1.5px;
  height: 45px;
  width: 325px;
}

.main-header button:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  height: 15vh;
}

.header-text p {
  width: 75%;
  text-align: center;
}

.icon-part {
  height: 60vh;
  background: rgb(27, 27, 27);
}

.icon-part-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.list-icon-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
